doctype html
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
  body
    div.container
      div.row
        div.col-md-6.col-md-offset-3
          h1= title
          div.jumbotron
            div.text-center
              h4 Poll your friends in 
                em real time.
              h4
                a(href="/new") Start a New Poll
