doctype html
html(lang="en")
  head
    title Real Time
  body
    h1 New Poll
    
    div(class="add-option")
      span Add an option: 
      input(type="text")
      span  
      button(id="add-option-btn") Add
      br
      br
    
    div(id="poll-options")
    
      
    a(href="/") Back to Index
