doctype html
html(lang='en')
  head
    title= title
  body
    h1= poll.title
    div.options
      each option in poll.options
        button.option(data-id=poll.id)= option
        br
    
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/client.js')
    
