doctype html
html(lang='en')
  head
    title= "Poll: " + poll.title
  body
    h1= "Poll: " + poll.title
    div.options
      ul
        each option in poll.options
          li
            span= option + " "
            button.option(data-id=poll.id) Vote
          br
  
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/client.js')
    
